.wrapperAboutMe {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 10px 10px 10px 10px;
    padding: 5px 5px 5px 5px;
}

.aboutMeCard {
    display: block;
    justify-content: center;
    max-width: 400px;
    margin-left: 3.1%;
    margin-right: 3.1%;
    margin-bottom: 30px;
    padding: 1% 1%  1%  1% ;
    box-shadow: 0 1px 10px 1px;
}

.aboutMeImage img{
    display: flex;
    max-width: 300px;
    max-height: 250px;
    margin: auto;
}

.aboutMeData {
    display: flex;
    max-width: 125px;
    height: auto;
    font-size: 15px;
}

.myValues {
    display: block;
    justify-content: center;
    text-align: left;
    max-width: 90%;
    margin-left: 3.1%;
    margin-right: 3.1%;
    margin-bottom: 30px;
    padding: 1% 1%  1%  1% ;
    box-shadow: 0 1px 10px 1px;
}
