.contactInfo {
    margin: 0;
    width: 100%;
    padding-top: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.icon {
    max-width: 75px;
    max-height: 75px;
    padding: 10px 10px 10px 10px;
}