.header {
  display: flex;
  flex-wrap: wrap;
  /* background-image: linear-gradient(to right, purple, white); */
  background-color: #d6d7d8;
  padding: 30px;
  justify-content: center;
  max-width: 100%;
}

.header img {
  width: 150px;
  height: 110px;
  padding-left: 20px;
  padding-right: 20px;
}

.header strong {
  display: flex;
  justify-content: center;
  align-items: center; 
  font-size: 35px; /*fix this for mobile. Font size should be 50 and change @media to 40px*/
  color: #620d63;
}