

  /* Styling for navbar stops here */
  /* contact info section starts here */
  /* .profile {
    display: flex;
    flex-wrap: wrap;
    float: left;
    width: 200px;
    font-size: 15px;
    padding-left: 10px;
    padding-right: 50px;
    padding-top: 50px;
    border-right: 2px solid #620d63;

  }

  .profile #profilePic {
    width: 100px;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center; 
    padding-left: 50px;
  }

  #phone {
    width: 20px;
    height: auto;
    justify-content: center;
    justify-items: center;
    padding-right: 15px;
  }
  
  #email {
    width: 20px;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center; 
    padding-right: 15px;
  }

  .profile p {
    display: flex;
    justify-content: center;
    align-items: center;  
  }

  .profile a {
    display: flex;
    justify-content: center;
    align-items: center;  
    padding: 10px 10px 10px 10px;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid #aeb1b2;
    font-size: 15px;
    font-family: sans-serif;
    background-color: #aeb1b2;
    color: #620d63;
    text-decoration: none;
    
  }

  @media only screen and (max-width: 500px){
    .profile{
      display: none;
    }
  } */

  /* contact info section ends here */
  

  /* #profileLogo {
    display: flex;
  } */

  
/* Looking at this stuff starting here */
  .content {
    display: flex;
    justify-content: center;
    flex-wrap: wrap; 
    margin-left: 20px;
    margin-right: 20px;  
    max-width: 100%; 
  }

  .contentCard {
    padding: 10px 10px 10px 10px;
    border-radius: 20px;
    margin: 10px 10px 10px 10px;
    justify-content: center;
    max-width: 100%;
  }

  .contentCard .image{
    display: flex;
  }

  .image img{
    width: 250px;
    height: auto;
    max-width: 100%;
    max-height: auto;
    margin: 10px;
  }

  #contentTitleOdd {
    display: flex;
    justify-content: center;
    font-size: 30px;

  }
  #contentImageOdd {
    float: right;
  }

  #contentInfoOdd {
    font-size: 15px;
    float:left;
    width: 500px;
    height: auto;
    text-align: justify;
    max-width: 100%;
    max-height: auto;
  }
/* And finishing here */

/* my values start here */
.myValues {
  font-size: 15px;
  float:left;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

#myValuesContent {
  font-size: 20px;
}