body {
  margin: 0;
  font-family: 'Lexend Deca', sans-serif;
  font-size: 15px;
  max-width: 100%;
  height: 100%;
  background-color:#fcfcfc;
}

.pageHeading {
  font-size: 50px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  width: 100%;
}
/* Test class for the nav issue correction */
/* Seems to work. Figure out a way to make this work on mobile and 
desktop and build a constency */
/* Issue when coming without having the nav sticky. Could be because 
of the sticky + wrapper */
.padding {
  padding-top: 100px;
}