 /* Styling for the header starts here */
 body {
    margin: 0;
    font-size: 28px;
    font-family: Arial, Helvetica, sans-serif;
    max-width: 100%;
  }
  
  .header {
    display: flex;
    background-color: #f1f1f1;
    padding: 30px;
    justify-content: center;
    max-width: 100%;
  }
  /* Styling for the header stops here */
 /* Styling for navbar starts here */
 
 /* Style the navbar */
 #navbar {
    overflow: hidden;
    background-color: #333;
    max-width: 100%;
  }
  
  /* Navbar links */
  #navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px;
    text-decoration: none;
    max-width: 100%;
  }
  
  /* Page content */
  .content {
    padding: 16px;
    max-width: 100%;
  }
  
  /* The sticky class is added to the navbar with JS when it reaches its scroll position */
  .sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }
  
  /* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
  .sticky + .content {
    padding-top: 60px;
  } 

  /* Styling for navbar stops here */

  #profileLogo {
    display: flex;
 
  }

  .logo img {
    max-width: 150px;
    height: auto;
  }

  #myName {
    display: inline-flex;
    font-size: 50px;
    height: 100px;
    padding-top: 50px;
    padding-left: 25px;
    justify-content: center;
  }

  .content {
    display: flex;
    justify-content: center;
    flex-wrap: wrap; 
    margin-left: 20px;
    margin-right: 20px;  
    max-width: 100%; 
  }

  .contentCard {
    /* display: flex; */
    /* flex-wrap: wrap; */
    /* border: 3px solid black; */
    padding: 50px 50px 50px 50px;
    border-radius: 20px;
    margin: 20px 20px 20px 20px;
    justify-content: center;
    max-width: 100%;
  }

  .contentCard .image{
    display: flex;
  }

  .image img{
    width: 500px;
    height: auto;
    max-width: 100%;
    max-height: auto;
    border-radius: 25px;
    margin: 20px;
  }

  /* .contentCard .contentInfo{
    font-size: 15px;
    float:left;
    width: 500px;
    height: auto;
  } */

  #contentTitleOdd {
    display: flex;
    justify-content: center;

  }
  #contentImageOdd {
    float: right;
  }

  #contentInfoOdd {
    font-size: 15px;
    float:left;
    width: 500px;
    height: auto;
    text-align: justify;
    max-width: 100%;
    max-height: auto;
  }

  #contentTitleEven {
    display: flex;
    justify-content: center;

  }
  #contentImageEven {
    float: left;
  }

  #contentInfoEven {
    font-size: 15px;
    float: right;
    width: 500px;
    height: auto;
    text-align: justify;
    max-width: 100%;
    max-height: auto;
  }